<% if(typeof errors != 'undefined') { %>
  <% errors.forEach( error => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div><%= error.msg %></div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  <% })%>
<% } %>

<% if(success_msg != ''){ %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <div><%= success_msg %></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if(error_msg != ''){ %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= error_msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if(error != ''){ %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <div><%= error %></div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>