<%/* 
  file: dashboard/contacts.ejs
  Atuhor: Tannus Esquerdo
  ID: #301288342
  Date: 2022-10-14
*/%>

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
  </head>
  <body class="">
    <header>
      <%- include('./partials/header'); %>
    </header>
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/nav'); %>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
          </div>
          <h2>Add New Contact</h2>
          <div class="col-sm-6 col-lg-6">
            <%- include('./partials/form_new') %> 
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
