<%/* 
  file: about.ejs
  Atuhor: Tannus Esquerdo
  ID: #301288342
  Date: 2022-10-03
*/%>

<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="">
  <main>
    <header>
      <%- include('./partials/header'); %>
    </header>

    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/about.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Hi, I'm Tannus!</h1>
          <p class="lead">Frontend-focused web developer with a passion for design. During my 4+ years in website development field, I have had the opportunity to strengthen my knowledge of front-end languages and frameworks, including Angular, Ionic, React, Ruby on Rails and countless other frontend and backend frameworks and tools, but I spend most of my time dealing with HTML, Javascript and CSS/SCSS.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/files/CV-Tannus_Esquerdo.pdf" target="_blank" type="button" class="btn btn-primary btn-lg px-4 me-md-2">My Resume</a>
            <a href="https://www.linkedin.com/in/tannusesquerdo/" target="_blank" type="button" class="btn btn-outline-secondary btn-lg px-4">LinkedIn</a>
          </div>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </main>
  </body>
</html>
