<%/* 
  file: about.ejs
  Atuhor: Tannus Esquerdo
  ID: #301288342
  Date: 2022-10-03
*/%>

<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="">
  <main>
    <header>
      <%- include('./partials/header'); %>
    </header>

    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/about.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Hi, I'm Tannus!</h1>
          <p class="lead">Dedicated Front-end Web Developer with over 4 years of experience in the ever-evolving world of web development. My passion for design fuels my drive to create visually appealing and user-friendly digital experiences.</p>

          <p class="lead">Throughout my career, I've honed my expertise in various frontend technologies, including React, React Native, Ionic, AngularJS, Gatsby, Node.js, and various other frontend and backend frameworks and tools. While I'm well-versed in a multitude of technologies, my primary focus remains on HTML, JavaScript, and CSS.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/files/CV-Tannus_Esquerdo.pdf" target="_blank" type="button" class="btn btn-primary btn-lg px-4 me-md-2">My Resume</a>
            <a href="https://www.linkedin.com/in/tannusesquerdo/" target="_blank" type="button" class="btn btn-outline-secondary btn-lg px-4">LinkedIn</a>
          </div>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      <%- include('./partials/footer'); %>
    </footer>
  </main>
  </body>
</html>
