<form class="" action="new" method="POST">
  <div class="form-floating mb-3">
    <input type="text" name="name" class="form-control rounded-3" id="floatingInput" placeholder="John Doe">
    <label for="floatingInput">Name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" name="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" name="phone" class="form-control rounded-3" id="floatingPassword" placeholder="Phone">
    <label for="floatingPassword">Phone</label>
  </div>
  <button class="mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Create</button>
  <small class="text-muted">By clicking Create, you agree to the terms of use.</small>
</form>